@model IEnumerable<LivrariaTest.Models.Autor>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listar Autores(as)</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Nome")
                            </th>
                            <th>
                                @Html.DisplayName("Ações")
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayName("Nome")
                            </th>
                            <th>
                                @Html.DisplayName("Ações")
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    <a class="btn btn-dark btn-sm" asp-action="Edit" asp-route-id="@item.IdAutor">Editar</a>
                                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.IdAutor">Detalhar</a>
                                    @{ ViewBag.Id_Autor = item.IdAutor; }
                                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deletarModal">Deletar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-lg btn-success" style="margin-left: 25px" asp-action="Create">Adicionar Autor(a)</a>
</div>


@*Modal para o Deletar*@
<div class="modal fade" id="deletarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Você deseja remover esse autor(a)?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Se deseja deletar selecione "Deletar", se foi um engano selecione "Cancelar".</div>
            <div class="modal-footer">
                @using (Html.BeginForm("Delete", "Autor", new { Id = ViewData["Id_Autor"] }, FormMethod.Post))
                {
                    <input type="submit" class="btn btn-danger" value="Deletar" />
                }
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/vendor/datatables/tradução_datatables.js"></script>
}

@section Styles{
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
} 