@model IEnumerable<LivrariaTest.Models.Livro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fk_Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fk_Editora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fk_Autor.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fk_Editora.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLivro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLivro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLivro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
